body {
  /* background-image: url('https://cdn.allwallpaper.in/wallpapers/3395x2057/16838/outer-space-stars-3395x2057-wallpaper.jpg'); */
  background-image: url('./bg.jpg');
  background-size: cover;
}

.card {
  height: 100%;
  overflow-y: auto;
}

.toolImage {
  max-width: 14%;
}

.contactImage {
  max-width: 30%;
}

.center {
  text-align: center;
}

.gridImage {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  opacity: 1;
}

.me {
  border-radius: 100px;
}

.shelf {
  margin-top: -40px;
}

.box {
  color: black !important;
}

/* ---------------- */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5369e6;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #657bf5;
  border-radius: 10px;
}

.containerCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* ------------------------- */

/* Scanner */
.ocrloader {
  /* width: 94px;
  height: 77px;
  position: absolute;
  left: 63px;
  top: 115px; */
  /* transform: translate(-50%, -50%); */
  backface-visibility: hidden;
  z-index: 5;
}
.ocrloader span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 20px;
  background-color: rgba(231, 10, 10, 0.54);
  z-index: 1;
  transform: translateY(100%);
  animation: move 0.7s cubic-bezier(0.15, 0.44, 0.76, 0.64);
  animation-iteration-count: infinite;
}
.ocrloader > div {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48%;
  backface-visibility: hidden;
}
.ocrloader i {
  display: block;
  height: 1px;
  background: #000;
  margin: 0 auto 2px;
  margin: 0 auto 2.2px;
  backface-visibility: hidden;
}
.ocrloader i:nth-child(2) {
  width: 75%;
}
.ocrloader i:nth-child(3) {
  width: 81%;
}
.ocrloader i:nth-child(4) {
  width: 87%;
}
.ocrloader i:nth-child(6) {
  width: 71%;
}
.ocrloader i:nth-child(7) {
  width: 81%;
}
.ocrloader i:nth-child(8) {
  width: 65%;
}
.ocrloader i:nth-child(9) {
  width: 83%;
}
.ocrloader i:nth-child(10) {
  width: 75%;
}
.ocrloader i:nth-child(12) {
  width: 86%;
}
.ocrloader i:nth-child(14) {
  width: 65%;
}
.ocrloader i:nth-child(16) {
  width: 75%;
}
.ocrloader i:nth-child(18) {
  width: 83%;
}
.ocrloader:before,
.ocrloader:after,
.ocrloader em:after,
.ocrloader em:before {
  border-color: rgb(0, 255, 13);
  content: '';
  position: absolute;
  width: 19px;
  height: 16px;
  border-style: solid;
  border-width: 0px;
}
.ocrloader:before {
  left: 0;
  top: 0;
  border-left-width: 1px;
  border-top-width: 1px;
}
.ocrloader:after {
  right: 0;
  top: 0;
  border-right-width: 1px;
  border-top-width: 1px;
}
.ocrloader em:before {
  left: 0;
  bottom: 0;
  border-left-width: 1px;
  border-bottom-width: 1px;
}
.ocrloader em:after {
  right: 0;
  bottom: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
@keyframes move {
  0%,
  100% {
    transform: translateY(135%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(700%);
  }
}
