body {
	background-image: url('https://cdn.allwallpaper.in/wallpapers/3395x2057/16838/outer-space-stars-3395x2057-wallpaper.jpg');
	background-size: cover;
}

.box {
	background-color: orange;
}

.card {
	height: 100%;
}

.center {
	text-align: center;
}

img {
	width: 100%;
}

.navbar {
	opacity: 1;
}
